<!-- Travese and display the content once the password is reset successfully and redirects to the login page so the user can login with the new password which they have reset -->
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Complete</title>
    <link rel="stylesheet" href="{% static 'Todo/css/styles.css' %}">
</head>
<!-- The relevant content which displays that the password reset process is completed and traversal to the login page would take place for the user to make the login with the new credentials -->
<body>
    <div class="register-container">
        <h2>Password Reset Complete</h2>
        <p>Your password has been successfully reset. Login with the new credentials.</p>
        <p class="login-link">
            Proceed to <a href="{% url 'Todo:login' %}">Login</a>
        </p>
    </div>
</body>
</html>
