<!-- Provides alert to the user to check the mail, if they have received an link to reset the password if they have an account, else they must register as a new user -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Sent</title>
    <link rel="stylesheet" href="{% static 'Todo/css/styles.css' %}">
</head>
<body>
    <div class="register-container">
        <h2>Check Your Email Please</h2>
        <p>If you are a registered user, a password reset link would be received your email. If not please register as a new user to further access the application </p>
        <p class="login-link">
            Back to <a href="{% url 'Todo:login' %}">Login</a>
        </p>
    </div>
</body>
</html>
